
html, body{
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:90%;
}

#controls{
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  padding:10px;
  border-bottom:2px dotted gray;
  background:#eee;
}

#table{
  margin-top:40px;
}

th{
  min-width:100px;
}

th, td{
  padding:5px;
}

tr.error{
  color:red;
}
